/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  overflow-x: hidden;
}

.color-blue {
  color: #03a4ed;
}

.title-h5 {
  font-size: 25px;
  color: #f1f1f1;
  text-align: center;
  font-weight: bold;
}

.sommes-h5 {
  font-size: 25px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.gestion-service {
  padding: 5%;
}

.color-bleu {
  color: #03a4ed;
}

p {
  font-size: 25px;
}

.personnas h6 {
  color: white;
  font-weight: bold;
}
.personnas p {
  margin-top: 5%;
  font-size: larger;
}

.nous-sommes-a-lecoute,
.nous-sommes-a-lecoute div,
.nous-sommes-a-lecoute span,
.nous-sommes-a-lecoute a {
  color: white;
}

.nous-sommes-a-lecoute a:hover {
  color: rgb(207, 204, 204);
}

.nos-garanties {
  margin-top: 25px;
}

.nos-garanties .row {
  margin: 30px 0;
}

.nos-garanties p {
  margin: 15px 0;
}

#services {
  padding-bottom: 10%;
}
#services p.text-center {
  font-size: larger;
}

#competences h3 {
  color: white;
}

h3 {
  font-size: xx-large;
}

#about {
  margin: 0 !important;
}

.personnas {
  z-index: 100 !important;
}

#contact label {
  margin-bottom: 5px;
}
#contact span {
  color: red;
  font-weight: bold;
}

#contact .captcha-validation {
  margin-top: 1%;
  color: red;
  font-style: italic;
  font-size: small;
}
